.header {
    display: flex;
    /* justify-content: space-between; */
    /* border-bottom: 1px solid #f9f9f9; */
    align-items: center;
}

.header_logo {
    height: 20% ;
    object-fit: contain;
    width: 20%;
    margin: 6% auto auto 40%;
}

.header_icon {
    padding: 20px;
    width: 15%;
    float: right;
}