.Card{
    width: 390px;
    height: 170px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px, 1px, 10px, 1px black;
}

.upper{
    height: 90px;
    width: 100vw;
    background: linear-gradient(to left,#9acd32, #1E90FF);
}

.image img{
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(15px, 45px);
}

.profile_img{
    border: 5px solid lightblue
}

.lower{
    margin-top: 35px;
    height: 65px;
    width: 100wh;
    background: white;
    text-align: left;
    padding-left: 125px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lower h3{
    font-weight: 600;
    font-size: 1.5rem;
    color: royalblue
}

.Button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Setting_title {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: royalblue;
}

.Setting_text {
    color: royalblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Setting_input{
    margin: 0px 0px 0px 0px;
    padding-left: 0px;
    width: 80vw;
    padding-left: 25px;

}

.Setting_upload_container{
    padding-top: 20px;
   padding-bottom: 20px;
}

.Setting_upload {
    width: 20vw;
    float: right;
    margin: 0px 35px 0px 0px;
    padding: 5px;
    color: royalblue;
    outline: 0;
    
}

.btn-file {
    position: relative;
    overflow: hidden;
    margin: 0px 0px 0px 50px;
    color: royalblue;
    background-color: lightblue;
    padding: 5px;
    position: absolute;
    outline: 1.5px solid black;
  }
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }

  