.swipeButtons {
    position: fixed;
    bottom: 13vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root{
    background-color: white;
    box-shadow: 0px 10px 53px 0px grey !important;
}

.swipe_left{

    color: #ec5e6f !important;
}


.swipe_right{

    color: #76e2b3 !important;
    max-width: 60px;
}

.list_item {
    padding-top: 25px;
    /* padding-left: 25px; */
    text-align: center;

}

.title_list {
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
    font-size: large;
}